/*---------------------------------------------------------------------------------------- */
/*--------------------------  Variables --------------------------------- */
/*---------------------------------------------------------------------------------------- */

:root{
    --color-fondo-footer: #17001a;                                      /* fondo-footer  */
    --color-borde-margen-arriba: white;                                 /* borde-margen-arriba  */
    --color-logo:white;                                                 /* logo  */
    --color-facebook: rgb(0, 89, 255);                                  /* facebook  */
    --color-instagram: #d434d4;                               /* instagram  */
    --color-whatsapp: rgb(25, 160, 13);                                 /* whatsapp  */
    --color-mail: #4d78b9;                                    /* mail  */
    --color-letras: #ffffffc9;   
    --color-nombres: rgb(206, 206, 206);                                           /* letra */
    --color-borde-articulo: 2px solid #ffffffc9;
    --color-tarjetas: #5c005faf;
    --color-borde-imagen: 4px solid white;
}


/*---------------------------------------------------------------------------------------- */
/*-------------------------- Footer --------------------------------- */
/*---------------------------------------------------------------------------------------- */


 .contenedor-footer{
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 3% 0 3% 0;
} 

footer{
    background: var(--color-fondo-footer);  
    border-top: 5px solid var(--color-borde-footer);
    border-bottom: 5px solid var(--color-borde-footer);
    font-family: 'Rubik';
}


.footer-logo{
    color: var(--color-letras);
    text-align: center;  /*Cetra en anchura*/
    align-items: center;  /*Cetra en altura*/
    
}

.footer-logo h1{
    font-size: clamp(4rem, 8rem, 9vw); 
}

.footer-logo p{
    font-size: clamp(1.5rem, 2.3rem, 2vw);
}


.developer{
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    color: var(--color-letras);
}

/* --------------------------tarjetas------------------------ */

article{
    width: clamp(20rem, 34rem, 70vw);
    margin: 3.5%;
    padding: 2em 2% 3em 2%;
    border-radius: 10px;
    border: var(--color-borde-articulo);
    background-color: var(--color-tarjetas);
    -webkit-box-shadow: inset 7px 4px 38px -25px rgba(255,0,255,1);
    -moz-box-shadow: inset 7px 4px 38px -25px rgba(255,0,255,1);
    box-shadow: inset 7px 4px 38px -25px rgba(255,0,255,1);
  }

.contenedor-footer .red-social{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor-redes-sociales{
    display: flex;
    flex-wrap: wrap;
    padding: 0 20em 0 20em;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    width: 100%;
}
  

.contenedor-footer .red-social p{

    color: var(--color-nombres);
    font-size:20px;
    margin-bottom: 25px;

}

.contenedor-footer .red-social h2{

    color: var(--color-letras);
    font-size: clamp(3.5rem, 4.5rem, 10vw); 
    margin-top: 20px;

}

.contenedor-footer .red-social a{
    text-decoration: none;
    width: 45px;
    height: 45Px;
    line-height: 41px;
    font-size: 20px;
    color: var(--color-logo);
    margin: 0px 2% 0px 2%;
    transition: all 400ms ease;
    border-radius: 50%;
    border:2px solid var(--color-logo);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

}

.contenedor-footer .red-social a:hover{
    transform: scale(1.2);
}

.red-social img{
   width: 80%;
   border-radius: 50%;
   border: var(--color-borde-imagen);
}


#facebook-color{
    background-color: var(--color-facebook);
}

#instagram-color{
    background-color: var(--color-instagram);
}

#whatsapp-color{
    background-color: var(--color-whatsapp);
}

#mail-color{
    background-color: var(--color-mail);
}



/*--------------------------------------------------------------
-----------------------  Respónsive  ---------------------------
----------------------------------------------------------------*/

 @media screen and (max-width: 1281px){

    .contenedor-footer{
        padding: 5% 0 5% 0;
    } 

    .contenedor-redes-sociales{
        padding: 0px;
    }

    article{
        padding: 5% 0 5% 0;
    }
    .red-social img{
        width: 50%;
     }

}  

/*--------------------------------------------------------------------------------------------------*/



@media screen and (max-width: 550px){

    article{
        padding: 2.5em 2% 3.5em 2%;
      }

} 
    
/*--------------------------------------------------------------------------------------------------*/    
    
 @media screen and (max-width: 325px){
    
    .contenedor-footer .red-social a{
        width: 35px;
        height: 35Px;
        line-height: 31px;
        margin: 0px 2% 0px 2%;
        border-radius: 50%;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    
    }

    .derechos-de-autor{
        font-size: 4vw;
    }

} 

  

  /*-------------------------Pantallas Grandes-------------------------*/
  


  /*----------------------------------------------------------------*/