/*---------------------------------------------------------------------------------------- */
/*--------------------------  Variables --------------------------------- */
/*---------------------------------------------------------------------------------------- */

:root{
    --color-fondo-footer: #150017;                                      /* fondo-footer  */
    --color-borde-margen-arriba: white;                                 /* borde-margen-arriba  */
    --color-logo:white;                                                 /* logo  */
    --color-facebook: rgb(0, 89, 255);                                  /* facebook  */
    --color-instagram: rgb(212, 52, 212);                               /* instagram  */
    --color-whatsapp: rgb(25, 160, 13);                                 /* whatsapp  */
    --color-mail: rgb(77, 120, 185);                                    /* mail  */
    --color-letras: white;   
    --color-nombres: rgb(206, 206, 206);                                           /* letra */
    --color-tarjetas: rgba(92, 0, 95, 0.685);
}


/*---------------------------------------------------------------------------------------- */
/*-------------------------- Footer --------------------------------- */
/*---------------------------------------------------------------------------------------- */


 .contenedor-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;  
    align-items: center;  
    padding: 5% 0 5% 0;
} 

footer{
    background: var(--color-fondo-footer);  
    border-top: 5px solid var(--color-borde-footer);
    border-bottom: 5px solid var(--color-borde-footer);
}


.footer-logo{
    color: var(--color-letras);
    text-align: center;  /*Cetra en anchura*/
    align-items: center;  /*Cetra en altura*/
    
}

.footer-logo h1{
    font-size: 5vw;
}

.footer-logo p{
    font-size: 1.5vw;
}


.developer{
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    color: var(--color-letras);
}

/* --------------------------tarjetas------------------------ */

.contenedor-redes-sociales{
    display: flex;
    margin-top: 2%;
}

article{
    text-align: center;
    width: fit-content;
    margin: 3.5%;
    padding: 2%;
    border-radius: 10px;
    background-color: var(--color-tarjetas);
    -webkit-box-shadow: inset 7px 4px 38px -25px rgba(255,0,255,1);
    -moz-box-shadow: inset 7px 4px 38px -25px rgba(255,0,255,1);
    box-shadow: inset 7px 4px 38px -25px rgba(255,0,255,1);
  }
  

.contenedor-footer .red-social p{

    color: var(--color-nombres);
    text-align: center;
    font-size:20px;
    margin-bottom: 25px;

}

.contenedor-footer .red-social h2{

    color: var(--color-letras);
    text-align: center;
    font-size:40px;
    margin-bottom: 20px;

}

.contenedor-footer .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45Px;
    line-height: 41px;
    font-size: 20px;
    color: var(--color-logo);
    margin: 0px 2% 0px 2%;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 50%;
    border:2px solid var(--color-logo);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

}

.contenedor-footer .red-social a:hover{
    transform: scale(1.2);
}

.ubicacion iframe {
    margin: 10px;
    padding-top: 25px;
    width: 70%;
    height: 50%;
    
}

.logo img{
    width: 50%;
}




#facebook-color{
    background-color: var(--color-facebook);
}

#instagram-color{
    background-color: var(--color-instagram);
}

#whatsapp-color{
    background-color: var(--color-whatsapp);
}

#mail-color{
    background-color: var(--color-mail);
}



/*--------------------------------------------------------------
-----------------------  Respónsive  ---------------------------
----------------------------------------------------------------*/
@media (min-width: 1440px) {
    .contenedor-redes-sociales {
      zoom: 1.2;
    }

    .developer .derechos-de-autor{
        zoom: 1.2;
    }

    .derechos-de-autor{
        zoom: 1.2;
    }
  }

  /*----------------------------------------------------------------*/
  
  @media (min-width: 2560px) {
    .contenedor-redes-sociales{
      zoom: 1.7;
    }

    .developer {
        zoom: 1.7;
    }

    .derechos-de-autor{
        zoom: 1.7;
    }
  }
  

    /*----------------------------------------------------------------*/
  @media (min-width: 3840px) {
    .contenedor-redes-sociales {
      zoom: 2.5;
    }

    .developer {
        zoom: 2.5;
    }

    .derechos-de-autor{
        zoom: 2.5;
    }
  }


  /*----------------------------------------------------------------*/



 @media screen and (max-width: 1281px){
    
    .footer-logo h1{
        font-size: 5.5vw;
    }
    
    .footer-logo p{
        font-size: 2vw;
    }

}  

/*--------------------------------------------------------------------------------------------------*/

 @media screen and (max-width: 750px){
    
    .footer-logo h1{
        font-size: 13vw;
    }
    
    .footer-logo p{
        font-size: 5vw;
    }

    .contenedor-redes-sociales{
        flex-direction: column;
    }

    .contenedor-footer .red-social h2{
        font-size:10vw;
    
    }

    .contenedor-footer .red-social p{
        font-size:4.5vw;

    }

} 



    
/*--------------------------------------------------------------------------------------------------*/    
    
 @media screen and (max-width: 325px){
    .footer-logo h1{
        font-size: 14vw;
    }
    
    .footer-logo p{
        font-size: 6vw;
    }
    
    .contenedor-footer .red-social a{
        width: 35px;
        height: 35Px;
        line-height: 31px;
        margin: 0px 2% 0px 2%;
        border-radius: 50%;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    
    }

    .derechos-de-autor{
        font-size: 4vw;
    }

} 

@media screen and (max-width: 281px){
    

} 
  
