:root{
    --letras: white;
    --letras-hover: rgb(206, 206, 206);
  }

/*----------------------------------------------------------------------- */
/*-------------------------- NAVEGACION --------------------------------- */
/*----------------------------------------------------------------------- */

nav{        
    text-align: right;
    font-size: 1.5vw;          /* opciones de navegacion a la derecha */
    padding: 30px 50px 0 0;
    font-family: 'Rubik';
}

nav > a{                /* diseño a las opciones de navegacion*/
    color: var(--letras);
    font-weight: 300;   /* lo va a hacer mas ligera*/
    text-decoration: none;  /*saca el subrayado*/
    margin-right: 10px;  /*separacion uno de otro*/

}

nav > a:hover{                /* diseño a las opciones de navegacion cuando pasemos el mouse*/
    text-decoration: none;  /*pone el subrayado cundo pongo el cursor arriba*/
    color: var(--letras-hover);
}



.dropdown{        
    display: none;
}

/*----------------------------------------------------------- */



@media screen and (max-width: 768px){
    .dropdown{        
        display: inline-flex;
        width: 10%;
    }

    nav > a{
        display: none;
    }


}