/*---------------------------------------------------------------------------------------- */
/*-------------------------- Variables --------------------------------- */
/*---------------------------------------------------------------------------------------- */

    $color-titulo: rgb(197, 197, 197);
  

/*-----------------------------------------------------------------------------------------*/
/*-------------------------- IMAGEN PRESENTACION Y LETRAS --------------------------------- */
/*-----------------------------------------------------------------------------------------*/


header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background: linear-gradient(to right, #000000be, #000000be), url(../imagenes/purple.jpg) ;
    background-size: 100% 100%;

    .textos-header{
        flex-direction: column;  /*para que el texto se escriba uno bajo el otro*/
        color: $color-titulo;
        font-family: 'Lilita One';
        text-shadow: 5px 5px 15px rgb(121, 19, 124);

        h1{  /*texto 1 Tamaño*/
            font-size: clamp(6rem, 12rem, 9vw);   
        }

        h2{  /*texto 2 Tamaño*/
            font-size: clamp(2rem, 4rem, 4vw);
        }

    }
    
    .logo-presentacion{
        display: none;
    }
}
    




/*--------------------------------------------------------------
-----------------------  Respónsive  ---------------------------
----------------------------------------------------------------*/


/* ------------ Celulares chicos ejemplo Galaxy Fold-------------- */




@media screen and (max-width: 500px){
    header{
        height: 100vh;
        background-size: cover;
        background: url(../imagenes/fondo-celular.jpg) ;
        background-size: 100% 100%;
        
    }

}


@media screen and (max-width: 1000px) and (min-height: 500px){
    header{
        .textos-header{
            display: none;
            
        }

        .logo-presentacion{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 82vh;

            img{
                display: flex;
                width: 100%;
                max-width: 500px;
        
            }
        }
    }
}



