
/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

body {
     background: linear-gradient(
       25deg,
       rgb(189, 155, 221),
       rgb(153, 33, 133)
     );
     height: 100%;
     font-family: "Open Sans", sans-serif;
   }

   .container {
     margin: 5% auto;
     padding: 20px 20px;
     background-color: #fff;
     border-radius: 10px;
     overflow: hidden;
     box-sizing: border-box;
     box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
   }
   
   .escala img {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: all 400ms ease-in-out;
  }

   
   .escala img:hover {
    transform: scale(1.02);
  }

  .dropdown{
    text-align: right;
    margin: 4% 0px 0px 0px;
  }
